*{
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
 
/* home page start */
.homepage{
  background-image:url('./images/home.jpg');
  background-size: cover; /* or use 'contain' */
  background-repeat: no-repeat; /* Prevents tiling */
  background-position: center; /* Centers the image */
  width: 100%; /* Adjust width as needed */
  height: 80vh; /* Adjust height as needed */
}
.homepage>.hometext{
  font-size: 60px;
  font-weight: bold;
  color: rgb(3, 3, 3);

}

.btn{
  padding: 15px 30px;
  background-color: gray;
  color: white;
  font-weight: 500;
  border-radius: 20px;
}
.btn:hover{
  background-color: azure;
  color: gray;
  font-weight: 500;
}

/* home page end */

/* about start */
.about{
min-height: 90vh;
padding: 50px;
}
.about-text{
  width: 600px;
}
.about h4{
  font-size: 20px;
  color: gray;
  padding: 30px 0;
  font-weight: 500;
}
.img{
  width: 300px;
  height: 200px;
}

/* about end */

/* contact start */
.contact{
  min-height: 50vh;
  padding: 10% 0;
}
.contactpara{
  padding:0px 300px;
}

/* contact end */


/* responsiveness */
@media(max-width:700px) {
  /* home fit start */
  .homepage{
    height: 60vh;
    padding: 30% 0; /* Space for content */
  }
  .homepage>.hometext{
    font-size: 30px;
  }
  .homepage>.homepara{
   
    padding: 10px 100px;
    text-align: center;
    font-size: 18px;
  }
  .btn{
    padding: 15px 30px;
  }
   /* home fit end */

   /* about fit start */
   .about{
    min-height: 100vh;
    padding: 50px;
    }
    .about-text{
      width: 400px;
      font-size: 25px;
    }
    .about h4{
      font-size: 25px;
    }
    .img{
      width: 500px;
      height: 300px;
    }   
   /* about fit end */

   /* contact fit start */
   .contact{
    min-height: 30vh;

  }
  .contactpara{
    padding:0px 100px;
  }
  .contact>h3{
    font-size: 35px;
  }
  
   /* contact fit end */


}